body {
  background: #f0c27b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f0c27b, #4b1248); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f0c27b, #4b1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.formulario input, select {
  border: none;
  height: 20px;
  border-radius: 5px;
}

.error {
  background-color: red;
}